body {
    /* background-color: #240101; */
    background-color: #222222;
    color: white;
}

a {
    color: pink;
}

.header {
    display: flex;
    align-items: center;
}

.row {
    margin-left: 0;
    margin-right: 0;
}