@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-size: 1rem;
    font-family: 'Bebas Neue', sans-serif !important;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

h1, h2, h3 {
    color: #FFD700;
}

p {
    color: #FFD700;
}

a:hover {
    color: #EEEEEE;
    text-decoration: none;
}

.cs50 {
    color: #A51C30;
}

.navbar-dark .navbar-nav .nav-link {
    color: #EEEEEE;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #EEEEEE;
    text-decoration: underline;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .show>.nav-link:hover, .navbar-dark .navbar-nav .show>.nav-link:active, .navbar-dark .dropdown-item {
    color: #EEEEEE;
}

.dropdown-item:hover {
    color: #EEEEEE;
    background-color: #1973d1;
    text-decoration: underline;
}

.input-group {
    width: 90%;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-left {
    position: absolute;
    left: 10px;
    bottom: 0px;
}

.footer-right {
    position: absolute;
    right: 10px;
    bottom: 0px;
}