h3 {
    font-size: 1.8em;
    margin-bottom: 0.7em;
}
hr {
    margin: 2em 0;
}
b {
    font-weight: 600;
}
figcaption {
    font-size: 0.9em;
}

.plot-title {
    font-size: 2em;
    font-family: 'Barlow';
    font-weight: 700;
    color: #fff01f;
    margin: 0 0 0.3em 0;
    padding-top: 0.5em;
    padding-left: 20px;
    padding-right: 20px;
}
.plot-subtitle {
    font-size: 1.2em;
    font-family: 'Barlow';
    font-weight: 500;
    margin: 0 0 0 0;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.5em;
}
div[class=plot-container] {
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1px #fff01f;
    color: #fff01f !important;
    width: 350px;
    margin: auto;
    font-weight: 700;
}

@media screen and (max-width: 550px) {
    h3 {
        font-size: 1.7em;
    }
    .plot-title {
        font-size: 1.3em;
        margin: 0 0 0 0;
        padding-top: 0.3em;
        padding-left: 8px;
        padding-right: 8px;
    }
    .plot-subtitle {
        font-size: 0.8em;
        margin: 0 0 0 0;
        padding-left: 8px;
        padding-right: 8px;
    }
    div[class=plot-container] {
        border-width: 2px;
    }
    .button {
        width: 100%;
    }
}